/* import roboto from google fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html,body{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: light;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.bg-galven{
  background-color: #32C6A0 !important;
}

.btn-primary{
  background-color: #E75300 !important;
  border-color: #E75300 !important;
}

.bg-light{
  background-color: #A9A5A5 !important;
}

.bg-light2{
  background-color: #F4F4F4;
}

.h2{
  font-size: 48px;
}


sup{
  font-size: 16px !important;
  margin-left: -25px;
  top: -20px; 
  
}